@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Lora:ital,wght@0,400..700;1,400..700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap");

:root {
  --theme-color: #0e0e55;
  --theme-color2: #ffd500;
  --theme-color3: #8080ff;
  --color-white: #fefcfb;
  --color-dark: #0b090a;
  --color-orange: #ff7b00;
  --text-shadow: rgba(0, 0, 0, 0.2);
  --theme-color-fade: #68769386;
  --theme-color3-fade: #e8f1f2;
  --box-shadow: #adadad;
  --box-shadow2: rgb(0, 0, 0, 0.15);
  --box-shadow3: rgb(0, 0, 0, 0.25);

  --form-color: #e9e9e9;
  --form-color2: #c9cdcf;
  --form-color3: #7d8597;
  /* 979dac */
  --form-color4: #c9cdcf;
  --form-color5: #fffcf2;
  /* #d1d7fa */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
small {
  color: #777;
}
/* blog-page css */
.blog-post-header {
  position: relative;
  width: 100%;
  height: 60vh;
  overflow: hidden; /* ensures bg doesn't spill */
  z-index: 0;
}

.blog-post-header::before {
  content: ""; /* ✅ must include */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../icons/banner/blog_banner.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  filter: saturate(150%) brightness(70%); /* ✅ filter only on image */
  z-index: 1;
}

.blog-post-header .container {
  position: relative;
  z-index: 2;
  color: var(--color-white);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  top: -40px;
}

.blog-post-header .curve {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 1;
}
.blog-post-header h1 {
  font-family: "Lobster Two", sans-serif;
  font-weight: 700;
  font-style: italic;
  color: var(--color-orange) !important;
}
.blog-post-header p {
  font-family: "Lora", serif;
  font-weight: 700;
  font-style: italic;
  font-size: 19px;
  color: #fff;
  /* background-image: linear-gradient(
    45deg,
    #808080,
    #a0a0a0,
    #c0c0c0,
    #e0e0e0,
    #ffffff
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  mix-blend-mode: screen; */
}

.blog-container h6 {
  font-family: "Cormorant Garamond", serif;
  font-weight: 500;
  font-size: 21px;
}
.blog-container p {
  font-family: "Source Serif 4", serif;
  font-weight: 300;
}
.blog-container .row-content .card {
  box-shadow: 0 0 10px var(--box-shadow3) !important;
}

.blog-container .main-blog-section .aside-topic-name {
  font-weight: 600;
  padding-left: 20px;
  margin-left: 12px;
}
.blog-container .main-blog-section .aside-topic-card {
  display: flex;
  justify-content: space-between;
  /* gap: 15px; */
  margin-bottom: 25px;
}
.blog-container .main-blog-section .aside-topic-card img {
  width: 40%;
}
.blog-container .main-blog-section .aside-topic-card .aside-topic-info {
  display: flex;
  flex-direction: column;
}
